@import "tailwindcss";

body {
    font-family: var(--font-montserrat);
    /* user-select: none; */
}


@theme {
    --color-dark-blue: #112D49;
    --color-sky-blue: #73A4E0;
    --color-grey: #E5E4E2;
    --color-blue-bg: #D5E8FF;
    --color-light-blue: #F1F5FB;
    --color-cable-bg: #EEF4FB;
    --shadow-login: 0px 10px 30px 0px #0000000D;
    --shadow-swipercard: 0px 2px 20px 0px #112D491A;
    --shadow-model: 0px 0px 11.4px 0px #73A4E033;
    --shadow-tabs: 0px 0px 8.4px 0px #73A4E01A;
    --shadow-reviewbox: 0px 0px 11.4px 0px #73A4E033;
}

.dark-blue {
    background-color: var(--color-dark-blue);
}

.blue-bg {
    background-color: var(--color-blue-bg);
}

.text-darkblue {
    color: var(--color-dark-blue);
}

.sky-blue {
    color: var(--color-sky-blue);
}

.grey-bg {
    background-color: var(--color-grey);
}

.light-blue-bg {
    background-color: var(--color-light-blue);
}

.cable-bg {
    background-color: var(--color-cable-bg);
}

.text-blue {
    color: var(--color-text-blue);
}

.bestseller-wraper .swiper-wrapper {
    padding-top: 116px;
    padding-bottom: 20px;

}

.custom-pagination .swiper-pagination-bullet {
    width: 20px;
    height: 8px;
    border-radius: 4px;
    background: #112D49;
    opacity: 0.5;
    margin: 0 4px !important;
}

.custom-pagination .swiper-pagination-bullet-active {
    width: 40px;
    opacity: 1;
}

.client-pagination .swiper-pagination-bullet {
    width: 20px;
    height: 8px;
    border-radius: 4px;
    background: #435c76;
    opacity: 0.5;
    margin: 0 4px !important;
}

.client-pagination .swiper-pagination-bullet-active {
    width: 40px;
    opacity: 1;
}

.bestseller-pagination .swiper-pagination-bullet {
    width: 20px;
    height: 8px;
    border-radius: 4px;
    background: #435c76;
    opacity: 0.5;
    margin: 0 4px !important;
}

.bestseller-pagination .swiper-pagination-bullet-active {
    width: 40px;
    opacity: 1;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
    scrollbar-width: none;
}

/* Remove default clear (X) button in search inputs */
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}